[package]
name = "example-plugin"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
plugins_sdk = { path = "../plugins_sdk" }
anyhow = "1.0.100"
